<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">01</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Site Vitrine Design</h5>
            <p class="text-slate-400 mt-3">Un site web moderne et élégant qui s'adapte parfaitement à tous les écrans.</p>
        </div>
    </div>

    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">02</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Optimisé SEO</h5>
            <p class="text-slate-400 mt-3">Une structure technique optimisée pour un meilleur référencement naturel.</p>
        </div>
    </div>

    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">03</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Livraison Rapide</h5>
            <p class="text-slate-400 mt-3">Votre site web professionnel livré en quelques jours seulement.</p>
        </div>
    </div>
</div> 