<section class="relative table w-full py-36 lg:py-64 overflow-hidden" id="home">
    <div class="absolute inset-0 overflow-hidden">
        <div class="absolute image-wrap -top-[350px] -bottom-[350px] -start-[100px] -end-[100px] min-w-full w-auto min-h-full h-auto overflow-hidden m-auto bg-[url('../../assets/images/bg/1.jpg')] bg-no-repeat bg-center bg-cover"></div>
    </div>
    <div class="absolute inset-0 bg-slate-900/70"></div>

    <div class="container relative">
        <div class="grid grid-cols-1 text-center">
            <div class="text-center">
                <span class="bg-teal-500/10 text-teal-500 text-sm font-bold px-2.5 py-0.5 rounded h-5">Offre Exclusive - 10 Projets/Mois</span>
            </div>

            <h4 class="text-white font-semibold lg:leading-normal leading-normal tracking-wide text-4xl lg:text-5xl my-5">Votre Site Web Professionnel <span class="text-teal-500">Gratuit</span> en 7 Jours</h4>
        
            <p class="text-white/70 text-lg max-w-xl mx-auto mb-8">Boostez votre visibilité en ligne avec un site web moderne et performant, sans aucun investissement initial. Design premium, SEO optimisé, et support technique inclus.</p>
        
            <div class="relative mt-8 flex justify-center gap-4">
                <a href="#contact" class="h-12 px-8 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white hover:bg-teal-600 transition duration-500">Réserver mon appel découverte gratuit</a>
            </div>
        </div>
    </div>
</section>

<div class="relative">
    <div class="absolute block w-full h-auto bottom-[25px] z-1 start-0">
        <a href="#about"><i class="mdi mdi-arrow-down absolute top-0 start-0 end-0 text-center inline-flex items-center justify-center rounded-full bg-white dark:bg-slate-900 h-12 w-12 mx-auto shadow-md dark:shadow-gray-800"></i></a>
    </div>

    <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden text-white dark:text-slate-900">
        <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div> 