<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">1</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Appel Découverte</h5>
            <p class="text-slate-400 mt-3">Nous discutons de votre projet et validons votre éligibilité à l'offre gratuite.</p>
        </div>
    </div>

    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">2</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Création du Site</h5>
            <p class="text-slate-400 mt-3">Notre équipe développe votre site web professionnel selon vos besoins.</p>
        </div>
    </div>

    <div class="p-6 rounded-md shadow-md dark:shadow-gray-800">
        <div class="size-20 flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 rounded-md bg-teal-500/5 text-teal-500 text-2xl font-semibold">3</div>
        <div class="mt-4">
            <h5 class="text-xl font-semibold">Livraison</h5>
            <p class="text-slate-400 mt-3">Votre site est mis en ligne et vous êtes formé à son utilisation.</p>
        </div>
    </div>
</div> 